body{
	margin:0;
}

div{
	color:whitesmoke;
	font-family:monospace;
	font-size: 80px;
	font-weight:bold;
	justify-content: center;
	align-items: center;
	display: flex;
}

.slide1{
	min-height: 2000px;
	background-image: url("https://images.wallpapersden.com/image/download/animal-crossing-nintendo-ead-n64_ZmdmaGyUmZqaraWkpJRmbmdlrWZnZWU.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.slide2{
	height: 1500px;
	background-image: linear-gradient(to bottom, #000000, #666666);
}
.slide3{
	min-height: 2000px;
	background-image: url("https://wallpapercrafter.com/desktop/125112-Animal-Crossing-video-game-art-Nintendo.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}